---
name: CI

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  test:
    name: Run tests
    runs-on: ubuntu-latest

    strategy:
      matrix:
        versions: [
          { php: "7.3", phpunit: "9" },
          { php: "7.4", phpunit: "9" },
          { php: "8.0", phpunit: "9" },
          { php: "8.1", phpunit: "10" },
          { php: "8.2", phpunit: "11" },
          { php: "8.3", phpunit: "11" },
          { php: "8.4", phpunit: "11" },
        ]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5.0.0
        with:
          ref: ${{ github.head_ref }}

      - name: Composer install
        uses: php-actions/composer@v6.1.2
        with:
          php_version: ${{ matrix.versions.php }}

      - name: Run unit tests
        uses: php-actions/phpunit@v3.0.3
        with:
          configuration: phpunit.xml
          version: ${{ matrix.versions.phpunit }}
          php_version: ${{ matrix.versions.php }}
          test_suffix: Test.php

  lint:
    name: Check code style
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5.0.0
        with:
          ref: ${{ github.head_ref }}

      - name: Run linters
        uses: docker://oskarstark/php-cs-fixer-ga

      - name: Auto commit `php-cs-fixer` changes
        uses: stefanzweifel/git-auto-commit-action@v7.0.0
        with:
          commit_message: Apply php-cs-fixer changes
