---
name: Release Drafter

on:
  push:
    branches:
      - master

jobs:
  update-release-draft:
    name: Update
    runs-on: ubuntu-latest

    outputs:
      tag_name: ${{ steps.drafter.outputs.tag_name }}

    steps:
      - id: drafter
        name: Run release drafter
        uses: release-drafter/release-drafter@v6.0.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  update-client-version:
    name: Update CLIENT_VERSION with draft version
    runs-on: ubuntu-latest
    needs: update-release-draft

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4.2.2
        with:
          ref: master

      - name: Update `src/Client.php` with draft version
        run: |
          sed -i "s/CLIENT_VERSION = '.*';/CLIENT_VERSION = '${{ needs.update-release-draft.outputs.tag_name }}';/g" src/Client.php

      - name: Apply version changes
        uses: stefanzweifel/git-auto-commit-action@v5.2.0
        with:
          commit_message: Auto update drafter version in CLIENT_VERSION
